<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9wVTxHGmRBeNW8kVn-Nbwn_Uo7udsY-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>741776650034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sergiohernandez.Eva</string>
	<key>PROJECT_ID</key>
	<string>eva1-33872</string>
	<key>STORAGE_BUCKET</key>
	<string>eva1-33872.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741776650034:ios:26dfb00e3977a35627b12b</string>
</dict>
</plist>